:root {
    --mainColor: #6366F1;
    --blueLight: #F0F2F5;
}

.bg-main-color {
    background-color: var(--mainColor);
}

.text-main-color {
    color: var(--mainColor);
}

.bg-light-blue {
    background-color: var(--blueLight);
}

.text-light-blue {
    color: var(--blueLight);
}

.text-white {
    color: #fff;
}