@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&family=Questrial&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&family=Roboto:wght@300&display=swap');

@import "color.css";

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Questrial', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

.object-fit-cover {
    object-fit: cover;
}

.on-click:active {
    opacity: 0.8;
}

.on-click-2:active {
    background-color: #77777777
}

.on-click-3 {
    transition: all .1s ease;
}

.on-click-3:active {
    transform: scale(1.1);
}

.avatar {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.box-shadow-2 {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.card {
    background-color: #fff;
    padding: 1rem;
    /* border-radius: .5rem; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.count {
    width: 1rem;
    height: 1rem;
    background-color: #E41E3F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    top: -.1rem;
    right: -.1rem;
    font-size: .6rem;
}


@media only screen and (max-width: 800px) {
    .container {
        gap: 0.5rem !important;
    }
}